.taskInputWrapper {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin-top: calc(0px - (3.375rem/2));
}

.taskInputWrapper input {
  padding: 1rem;
  width: 100%;
  max-width: 39.875rem;
  height: 3.375rem;
  border: 1px solid var(--gray-700);
  border-radius: 8px;
  background-color: var(--gray-500);
  color: var(--gray-100);
}

.taskInputWrapper button {
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 0;
  width: 5.625rem;
  height: 3.25rem;
  font-size: 0.875rem;
  font-weight: 700;
  border: 0;
  border-radius: 8px;
  background-color: var(--blue-dark);
  color: var(--gray-100);
  cursor: pointer;
}

.taskInputWrapper button svg {
  margin-left: 0.5rem;
}